<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Add livre</title>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
          
      body {
        
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
      }
      
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Create a right-aligned (split) link inside the navigation bar */
      .topnav a.split {
        float: right;
        background-color: transparent;
        color: white;
      }
      </style>
      </head>
      <body>
    
        
      
      <div class="topnav">
        <a class="active"  th:href="@{/index}">Accueil</a>
        <a  th:href="@{/list_cat}">liste catalogue</a>
        <a  th:href="@{/cat}">catalogue</a>
        <a  th:href="@{/login}" class="split">login</a>
        <a  th:href="@{/register}" class="split">register</a>
      </div>
      
    <br /><br />
    <hr>
    <div class="container">
        <h1>+ livre</h1>
        <hr>
  

        <div class="container">
            <div class="row col-md-8 offset-md-2">
              <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Nouveau</h2>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                      enregistré avec succès
                    </div>
                </div>
                <div class="card-body">
                    <form
                      method="post"
                      role="form"
                      th:action="@{/livre}"
                      th:object="${livre}"
                    >
                      <div class="form-group mb-3">
                        <label class="form-label">Titre</label>
                        <input
                                class="form-control"
                                id="titre"
                                name="titre"
                                placeholder="Titre"
                                th:field="*{titre}"
                                type="text"
                        />
                        <p th:errors = "*{titre}" class="text-danger"
                        th:if="${#fields.hasErrors('titre')}"></p>
                      </div>
          
                      <div class="form-group mb-3">
                        <label class="form-label">Auteur</label>
                        <input
                                class="form-control"
                                id="auteur"
                                name="auteur"
                                placeholder="Auteur"
                                th:field="*{auteur}"
                                type="text"
                        />
                        <p th:errors = "*{auteur}" class="text-danger"
                           th:if="${#fields.hasErrors('auteur')}"></p>
                      </div>
                      <div class="form-group mb-3">
                        <label class="form-label updatelabelb text-dark justify-content-start m-0">The Date of Publication</label>
                        <input class="form-control"
                               id="date_pub"
                               name="date_pub"
                               placeholder="20-10-1925"
                               th:field="*{date_pub}"
                               type="date"
                        />
                        <p th:errors="*{date_pub}" class="text-danger"
                           th:if="${#fields.hasErrors('date_pub')}">
                        </p>
                    </div>
                      
                      <div class="form-group mb-3">
                        <label class="form-label">num_ESRN</label>
                        <input
                                class="form-control"
                                id="num_ESRN"
                                name="num_ESRN"
                                placeholder="num_ESRN"
                                th:field="*{num_ESRN}"
                                type="text"
                        />
                    
                        <p th:errors = "*{Exemplaire}" class="text-danger"
                           th:if="${#fields.hasErrors('Exemplaire')}"></p>
                      </div>
                      <div class="form-group mb-3">
                        <label class="form-label">Exemplaire</label>
                        <input
                                class="form-control"
                                id="Exemplaire"
                                name="Exemplaire"
                                placeholder="Exemplaire"
                                th:field="*{Exemplaire}"
                                type="text"
                        />
                    
                        <p th:errors = "*{Exemplaire}" class="text-danger"
                           th:if="${#fields.hasErrors('Exemplaire')}"></p>
                      </div>

                      <div class="form-group mb-3">
                        <label class="form-label">Categories</label>
                        <br>
                        <select class="form-select" id="categories" name="categories" multiple="multiple" th:field="*{categorieIds}">
                            <option th:each="categorie : ${allCategories}" th:value="${categorie.id}" th:text="${categorie.name}"></option>
                        </select>
                    </div>
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">ajouter livre</button>
                        
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
          </body>
          </html>