<!DOCTYPE html>
<html lang="en">
<head>

    <title>Bibliotheque Express</title>


   
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg fixed-top menu">
        <div class="container px-md-0">
            <a class="navbar-brand" href="#"><span>Le</span>Bibliotheque Express </a>

            <a href="#"class="d-lg-none d-md-inline-block btn ml-auto pr-3 pt-2"><i class="fas fa-shopping-basket icon-light-white pr-2"></i><sup><span class=" badge badge-brown badge-pill label-count">0</span></sup></a>

            <button class="animate-toggler d-lg-none d-md-inline-block" type="button" data-target="#myNav" data-toggle="collapse">
                <i></i><i></i><i></i>
            </button>

            <div class="collapse navbar-collapse" id="myNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>


                </ul>
                <span class="navbar-text">

						
                  <li>
                    <div th:if="${page} == 'register'" >
                        <a class="ls" th:href="@{/login}">Login</a>
                    </div>
                    <div th:if="${page} == 'login'" >
                        <a class="ls" th:href="@{/register}">Sign up</a>
                    </div>
                    <div th:if="${page} != 'login' and ${page} != 'register'">
                        <a class="ls" th:href="@{/login}">Log out</a>
                    </div>
    
                </li>
               
          
          </span>
            </div>
        </div>
    </nav>
</header>